.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    min-width: 576px;
    background: white;
    padding: 20px 30px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .modal-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid lightgray;
      padding: 8px 0px;

      h2 {
        margin: 0;
        font-size: 28px;
      }

      .modal-close-button {
        width: 40px;
        height: 40px;
        padding: 12px;
        border: none;
        cursor: pointer;
        transition: background-color 0.1s;

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }

    .modal-body {
      padding: 16px;
      display: flex;
      gap: 12px;
      font-weight: 500;
      font-size: 18px;

      .titles {
        text-align: right;
      }
    }
  }
}
