.app {
  width: 100%;

  .logo {
    display: flex;
    gap: 12px;
    align-items: end;
    margin: 32px 0px;
    padding: 8px 0px;
    border-bottom: 2px solid lightgray;

    img {
      width: 180px;
    }

    h1 {
      font-style: italic;
      margin: 0px 0px 6px 0px;
    }
  }

  .characters {
    width: 100%;
    display: flex;
    column-gap: 22px;
    row-gap: 24px;
    flex-wrap: wrap;

    @media (min-width: 768px) {
      column-gap: 45px;
    }

    @media (min-width: 992px) {
      column-gap: 40px;
    }

    @media (min-width: 1200px) {
      column-gap: 50px;
    }

    @media (min-width: 1400px) {
      column-gap: 22px;
    }
  }
}
